<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Evacuees
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form  #form="ngForm" (ngSubmit)="register(form)">

    <ion-row color="primary" justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">

        <div text-center padding>
         
         <ion-icon color="secondary" size="large" md="md-contact"></ion-icon>
          <ion-text color="secondary">
            <h3>Information</h3>
          </ion-text>

          <ion-item>
            <ion-icon md="md-person">Full Name</ion-icon>
            <ion-input  name="name" type="text" placeholder="Full Name" ngModel required></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon md="md-home">Address</ion-icon>
            <ion-input name="address" type="text" placeholder="Address" ngModel required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-icon md="md-information-circle">Age</ion-icon>
            <ion-input name="age" type="text" placeholder="Age" ngModel required></ion-input>
          </ion-item>
          
          <ion-item>
            <ion-icon md="md-transgender"></ion-icon>
            <ion-label> Gender</ion-label>
              <ion-select placeholder="-Select-">
                <ion-select-option value="m">Male</ion-select-option>
                <ion-select-option value="f">Female</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-icon md="md-planet"></ion-icon>
              <ion-label> Religion</ion-label>
              <ion-select placeholder="-Select-">
                <ion-select-option value="catiholic">Roman Catholic</ion-select-option>
                <ion-select-option value="baptist">Baptist</ion-select-option>
                <ion-select-option value="protestant">Protestant</ion-select-option>
                <ion-select-option value="islam">Islam</ion-select-option>
                <ion-select-option value="sda">SDA</ion-select-option>
                <ion-select-option value="inc">Iglesia ni Cristo</ion-select-option>
                <ion-select-option value="jw">Jehova's Witness</ion-select-option>
                <ion-select-option value="notsay">Better Not Say!</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-icon md="md-stats">Age</ion-icon>
              <ion-label>Civil Status</ion-label>
              <ion-select placeholder="-Select-">
                <ion-select-option value="single">Single</ion-select-option>
                <ion-select-option value="married">Married</ion-select-option>
                <ion-select-option value="separated">Separated</ion-select-option>
                <ion-select-option value="widowed">Widowed</ion-select-option>
                <ion-select-option value="divorced">Divorced</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
              <ion-icon md="md-school"></ion-icon>
              <ion-label> Highest Educational Attainment</ion-label>
              <ion-select placeholder="-Select-">
                <ion-select-option value="single">Elementary</ion-select-option>
                <ion-select-option value="married">Junior High School</ion-select-option>
                <ion-select-option value="separated">Senior High School</ion-select-option>
                <ion-select-option value="widowed">College</ion-select-option>
                <ion-select-option value="divorced">Vocational</ion-select-option>
              </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon md="md-lock">Occupation</ion-icon>
            <ion-input name="occupation" type="text" placeholder="Occupation" ngModel required></ion-input>
          </ion-item>

        <ion-button color="primary" size="large" type="submit" [disabled]="form.invalid" expand="block">Add Evacuees</ion-button>
     